{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe - Create Account</title>
    <link href="/static/img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        {{create_account_css | safe}}
    </style>
    <style>
        {{universal_css | safe}}
    </style>
</head>
<body>
    <div class="create-account-container">
        <form method="post" id="create-account-form">
            {% csrf_token %}
            <h1 class="create-account-headline">Create an account.</h1>
            <p id="create-account-form-error-notif"></p>
            {{form.username}}
            <div class="username-validator-container">
                <p>Your username must: </p>
                <ul>
                    <li id="ascii">Only use letters from the English alphabet and no special charachters.</li>
                    <li id="between_letters">Be between 5 to 30 letters.</li>
                    <li id="taken">Not be taken.</li>
                    <li id="numeric">Not be only numbers</li>
                </ul>
            </div>
            {{form.nickname}}
            <br><i>*Your nickname can be changed freely, but your username cannot be changed.</i><br><br>
            {{form.email}}
            <div class="password-wrapper">
                {{form.password}}
                <button id="password-visibility-button" type="button" title="Show password"></button>
            </div>
            {{form.description}}
            <p>{{form.checkbox}}    By checking this checkbox, you agree to our <a target="_blank" href="/static/terms_and_conditions.txt" title="Terms and Conditions">terms and conditions.</a></p>
            <button type="submit" title="Create account">Create account</button>
        </form>
        <a class="backtologin-link" title="Back to Login" href="/">Back to Login.</a>
    </div>
</body>
<script>
    {{universal_js | safe}}
</script>
<script>
    {{create_account_js | safe}}
</script>
</html>