{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        {{index_css | safe}}
    </style>
    <style>
        {{universal_css | safe}}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe - Login</title>
    <link href="/static/img/favicon.ico" rel="icon" media="(prefers-color-scheme: light)">
    <link href="/static/img/favicon-darkmode.ico" rel="icon" media="(prefers-color-scheme: dark)">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div class="login-center-rectangle">
        <div class="login-center-rectangle-logo"></div>
        <div class="login-center-rectangle-divider"></div>
        <div class="login-center-rectangle-form-container">
            <form id='login-form' method="post" target="">
                {% csrf_token %}
                <h1 class="login-form-headline">Log in.</h1>
                <p id="login-form-error-notif"></p>
                {{form}}
                <a class="account-recovery-link" href="/account_recovery">I forgot my username or password</a>
                <br>
                <button type="submit" name="login" title="Log in">Log in</button>
            </form>
            <p class="register-link">Dont have a user? <a href="/create_account">Create an account.</a></p>
        </div>
    </div>
</body>
<script>
    {{universal_js | safe}}
</script>
<script>
    {{index_js | safe}}
</script>
</html>