<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        {{main_css | safe}}
    </style>
    <style>
        {{universal_css | safe}}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe - Main Page</title>
    <link href="/static/img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body id="mainbody">
    <button class="tutorial-button" title="Tutorial" id="tutorial-button"></button>
    <div id="dark-container"></div>
    <div id="confirmContainer"></div>
    <div class="friend-invite-popup-container" id="friend-invite-popup">
        <div class="friend-invite-popup">
            <div class="friend-invite-profile">
                <div class="friend-invite-profilepic" id="friend-invite-profilepic"></div>
                <p><b id="friend-invite-nickname"></b> invites you to a match!</p>
            </div>
            <div class="friend-invite-buttons">
                <button id="friend-invite-accept" title="Accept invite">Accept</button>
                <button id="friend-invite-decline" title="Decline invite">Decline</button>
            </div>
        </div>
    </div>
    <div class="mobile-dropdown-button-container">
        <button id="dropdown-button"></button>
    </div>
    <div class="mobile-dropdown-background" id="mobile-dropdown-background">
        <div class="mobile-dropdown-container" id="mobile-dropdown-container">
            <button class="mobile-dropdown-exit" id="dropdown-button-exit"></button>
            <h1>Navigate</h1>
            <div class="mobile-dropdown-divider"></div>
            <div class="mobile-dropdown-links-container">
                <a href="/leaderboard">Leaderboard</a>
                <a href="/settings">Settings</a>
                <a href="/friends">Friends <div class="universal-dropdown-notif" id="main-notif-mobile"><span></span></div></a>
                <a href="/about">About</a>
            </div>
            <a href="/logout" class="mobile-dropdown-logout">Log out</a>
        </div>
    </div>
    <header>
        <div class="header-play-container">
            <div class="header-play-logo-container">
                <img src="/static/img/logo.svg" alt="Tic Tac Toe Multiplayer Logo">
            </div>
            <div class="header-play-button-container">
                <button title="Random opponent" class="header-play-button" id="header-play-button-1">
                    <img src="/static/img/icons/globe.svg" alt="Random opponent">
                    <p>Random opponent</p>
                </button>
                <button title="Invite friend" class="header-play-button" id="header-play-button-2">
                    <img src="/static/img/icons/player-icon.svg" alt="Invite friend">
                    <p>Invite friend</p>
                </button>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="user-section">
            <div class="user-section-profile">
                <a href="#" onclick="displayProfile('{{user.user_id}}')">
                    <div class="user-section-profilepic" style="background-image: url(/static/img/profile_pictures/{{user.profile_picture}});"></div>
                </a>
                <h1>{{user.nickname}}</h1>
            </div>
            <div class="user-section-stats-container">
                <p class="user-section-stats-headline">STATS</p>
                <div class="user-section-stats-divider"></div>
                <p><b>Wins: </b>{{ wins }}</p>
                <div class="user-section-stats-divider"></div>
                <p><b>Losses: </b>{{ losses }}</p>
                <div class="user-section-stats-divider"></div>
                <p><b>Matches played: </b>{{ matches_played }}</p>
                <div class="user-section-stats-divider"></div>
                <p><b>Win/Loss ratio: </b>{{ win_loss_ratio }}</p>
                <div class="user-section-stats-divider"></div>
                <br>
                <a href="/logout" class="log-out-link">Log out</a>
            </div>
        </div>
        <div class="content-divider"></div>
        <div class="navigate-section">
            <h1>Navigate</h1>
            <div class="navigate-section-button-container">
                <div class="navigate-section-button-container-div">
                    <button id="leaderboard-button" title="Leaderboard">Leaderboard</button>
                    <button id="settings-button"title="Settings">Settings</button>
                </div>
                <div class="navigate-section-button-container-div">
                    <button id="friends-button" title="Friends">Friends <div class="universal-dropdown-notif" id="main-notif-desktop"><span></span></div></button>
                    <button id="about-button" title="About">About</button>
                </div>
            </div>
        </div>
        <div class="content-divider"></div>
        <div class="content-divider-mobile"></div>
        <div class="online-section">
            <h1>Online friends</h1>
            <div class="online-friends-container" id="online-friends-container">
            </div>
            <a href="/friends" class="friends-list-link">Friends List</a>
        </div>
    </div>
</body>
<script>
    {{universal_js | safe}}
</script>
<script>
    {{main_js | safe}}
</script>
</html>