<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        {{match_css | safe}}
    </style>
    <style>
        {{universal_css | safe}}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe - Match</title>
    <link href="/static/img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div id="dark-container"></div>
    <div id="confirmContainer"></div>
    <div class="animation-container" id="animation-container">
        <div class="xo-container">
            <div class="x-container">
                <img class="xo" src="static/img/icons/x-match.svg">
                <div class="xo-profilepic" id="x-profilepic"></div>
                <p class="xo-nickname" id="x-nickname"></p>
            </div>
            <div class="o-container">
                <img class="xo" src="static/img/icons/o-match.svg">
                <div class="xo-profilepic" id="o-profilepic"></div>
                <p class="xo-nickname" id="o-nickname"></p>
            </div>
        </div>
    </div>
    <div id="endAnimationContainerBackground" class="end-animation-background" style="display: none;">
        <div class="end-animation-container" id="endAnimationContainer">
            <div class="end-animation-wrapper">
                <h1 class="end-animation-headline" id="endAnimationH1">You Won!</h1>
                <p class="end-animation-reason" id="endAnimationReasonP"></p>
                <i>Opponent:</i>
                <div class="end-animation-profile">
                    <div class="end-animation-profilepic" id="endAnimationProfilepic"></div>
                    <p class="end-animation-nickname" id="endAnimationNickname"></p>
                </div>
                <button class="end-animation-button" id="endAnimationButton" onclick="window.location = '/main'">Back to main page</button>
            </div>
        </div>
    </div>
    <div class="timer-container">
        <div class="timer" id="timer">0</div>
    </div>
    <div class="round-container">
        <p>Round <span id="round-count">0</span>/5</p>
    </div>
    <div class="board-container">
        <div class="table-container">
            <p id="error-container"></p>
            <p id="message-container"></p>
            <table>
                <tr>
                    <td id="1"></td>
                    <td id="2"></td>
                    <td id="3"></td>
                </tr>
                <tr>
                    <td id="4"></td>
                    <td id="5"></td>
                    <td id="6"></td>
                </tr>
                <tr>
                    <td id="7"></td>
                    <td id="8"></td>
                    <td id="9"></td>
                </tr>
            </table>
            <div class="turn-container">
                <img id="turn-icon"><div id="turn-profilepic" title="See profile"></div><p class="turn-nickname-container"><span id="turn-nickname"></span>'s turn</p>
            </div>
            <button id="leave" class="leave-button" title="Leave match">Leave</button>
        </div>
    </div>
</body>
<script>
    const user_id = "{{user_id}}";
</script>
<script>
    {{universal_js | safe}}
</script>
<script>
    {{match_js | safe}}
</script>
</html>