<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        {{tutorial_css | safe}}
    </style>
    <style>
        {{universal_css | safe}}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe - Tutorial</title>
    <link href="/static/img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div id="confirmContainer"></div>
    <div class="friend-invite-popup-container" id="friend-invite-popup">
        <div class="friend-invite-popup">
            <div class="friend-invite-profile">
                <div class="friend-invite-profilepic" id="friend-invite-profilepic"></div>
                <p><b id="friend-invite-nickname"></b> invites you to a match!</p>
            </div>
            <div class="friend-invite-buttons">
                <button id="friend-invite-accept" title="Accept invite">Accept</button>
                <button id="friend-invite-decline" title="Decline invite">Decline</button>
            </div>
        </div>
    </div>
    <!--UNIVERSAL DROPDOWN-->
        <div class="universal-dropdown-mobile-header">
            <button class="universal-dropdown-mobile-header-button" title="Dropdown" id="universal-dropdown-mobile-header-button"></button>
        </div>
        <div class="universal-dropdown-mobile-background" id="universal-dropdown-background"></div>
        <div class="universal-dropdown-mobile" id="universal-dropdown">
            <button class="universal-dropdown-mobile-exit" id="universal-dropdown-mobile-exit" title="Close"></button>
            <h1 class="universal-dropdown-headline">Tutorial</h1>
            <div class="universal-dropdown-divider"></div>
            <div class="universal-dropdown-scroll-container">
                <button class="universal-dropdown-button" title="Welcome to Tic Tac Toe!" id="welcome-mobile">Welcome to Tic Tac Toe!</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="Creating an account" id="creating-account-mobile">Creating an account</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="Editing profile" id="editing-profile-mobile">Editing profile</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="Personal info" id="personal-info-mobile">Personal info</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="Deleting account" id="deleting-account-mobile">Deleting account</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="Friends list" id="friends-list-mobile">Friends list</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="Playing a match" id="playing-match-mobile">Playing a match</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="Playing with a friend" id="playing-friend-mobile">Playing with a friend</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="The leaderboard" id="leaderboard-mobile">The leaderboard</button>
            </div>
            <a href="/main" class="universal-dropdown-backtomain" id="back-link-mobile" title="Back to main page">Back to main page</a>
        </div>

        <div class="universal-dropdown-desktop">
            <h1 class="universal-dropdown-headline">Tutorial</h1>
            <div class="universal-dropdown-divider"></div>
            <div class="universal-dropdown-scroll-container">
                <button class="universal-dropdown-button" title="Welcome to Tic Tac Toe!" id="welcome">Welcome to Tic Tac Toe!</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="Creating an account" id="creating-account">Creating an account</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="Editing profile" id="editing-profile">Editing profile</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="Personal info" id="personal-info">Personal info </button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="Deleting account" id="deleting-account">Deleting account</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="Friends list" id="friends-list">Friends list</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="Playing a match" id="playing-match">Playing a match</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="Playing with a friend" id="playing-friend">Playing with a friend</button>
                <div class="universal-dropdown-divider"></div>
                <button class="universal-dropdown-button" title="The leaderboard" id="leaderboard">The leaderboard</button>
            </div>
            <a href="/main" class="universal-dropdown-backtomain" id="back-link" title="Back to main page">Back to main page</a>
        </div>
        <!--END UNIVERSAL DROPDOWN-->
        <div class="tutorial-page-container" id="tutorial-page-container">

        </div>
</body>
<script>
    {{universal_js | safe}}
</script>
<script>
    {{tutorial_js | safe}}
</script>
</html>