<style>
    {{change_email_password_css | safe}}
</style>
<div class="change-email-password-container">
    <h1>Change your {{password_or_email}}</h1>
    <p>A code has been sent to {{user.email}}. Please type in the code to verify changing of {{password_or_email}}.</p>
    <form action="{{form_action}}" id="{{form_id}}" method="post">
        {% csrf_token %}
        {{form}}
        <div class="change-email-password-button-container">
            <button title="Submit" id="change-email-password-submit" type="submit" class="change-email-password-submit">Submit</button>
            <button title="Cancel" id="change-email-password-cancel-button" type="button">Cancel</button>
        </div>
    </form>
</div>