<style>
    #creating-account-mobile, #creating-account {
        background-color: var(--background-white);
        color: var(--primary-black);
        font-weight: 600;
    }
</style>
<h1>Creating an account</h1>
<p>In order to create an account for Tic Tac Toe, you need to press the <b>"Create an account"</b> link on the login page.</p>
<img src="/static/img/tutorial/create_account_link.jpg" alt="Image of account creation link">
<p>
    You will then be taken to a page containing the form for creating an account.
    You need to fill out the inputs and click the checkbox to agree to our terms and conditions.
</p>
<img src="/static/img/tutorial/account_creation.gif" alt="Account creation video">