<style>
    #deleting-account-mobile, #deleting-account {
        background-color: var(--background-white);
        color: var(--primary-black);
        font-weight: 600;
    }
</style>
<h1>Deleting account</h1>
<p>If you wish to delete your account, head to the settings and click the red text that says <b>"Delete account"</b>.</p>
<p>After you press <b>"Delete account"</b> on the popup, you will receive a code on the email the account is registered to.</p>
<p>Input the code and press <b>"Confirm"</b>. This will then delete your account.</p>
<p>Warning: if you delete your account, it will be removed from:</p>
    <ul>
        <li>Your friends friend list</li>
        <li>The leaderboard</li>
    </ul>
<p>There is no way to recover the account after its been deleted.</p>