<style>
    #friends-list-mobile, #friends-list {
        background-color: var(--background-white);
        color: var(--primary-black);
        font-weight: 600;
    }
</style>
<h1>Friends list</h1>
<p>You can also add friends in Tic Tac Toe, and invite them to matches.</p>
<p>To do this, head to the <b>"Friends page"</b>.</p>
<img src="./static/img/tutorial/friend_referral.jpg" alt="Image of friend button">
<h2>Adding friend</h2>
<p>To add friends, head over to the <b>"Add friends"</b> tab and search for an accounts username or nickname.</p>
<img src="./static/img/tutorial/searching_friends.gif" alt="Gif of searching friends">
<p>To send a friend request, click the person icon with a plus next to the users username. You will get a popup on the top of the screen confirming the request has been sent.</p>
<img src="./static/img/tutorial/sending_request.gif" alt="Gif of sending friend request">
<p>You can view all your outgoing and incoming friend requests in the <b>"Pending invites"</b> tab. Here you can cancel outgoing friend requests, as well as accept or ignore incoming ones.</p>
<img src="./static/img/tutorial/pending.gif" alt="Gif of pending invites tab">
<p>If you have an incoming invite, a red bubble will pop up on the friends button.</p>
<img src="./static/img/tutorial/notif_bubble.jpg" alt="Picture of notification bubble">
<p>You can decline or accept an incoming invite in the pending invites tab.</p>
<img src="./static/img/tutorial/accepting_friend.gif" alt="Gif of accepting a friend request">
<p>You can view all your current friends in the <b>"Your friends"</b> tab. You can see if they're offline or online.</p>
<img src="./static/img/tutorial/your_friends.jpg" alt="Picture of your friends tab">
<h2>Removing a friend</h2>
<p>To remove a friend, head to the <b>Your friends</b> tab and put your mouse over their username. Then click the three dots to the right. Then press "Remove friend".</p>
<img src="./static/img/tutorial/removing_friend.gif" alt="Gif of removing a friend">