<style>
    #personal-info-mobile, #personal-info {
        background-color: var(--background-white);
        color: var(--primary-black);
        font-weight: 600;
    }
</style>
<h1>Personal info</h1>
<p>
    You can change personal info like your password and e-mail adress in the settings too.
    Note that to change this info, you need access to the email adress you created the account with to prevent hacking.
</p>
<p>
    In order to change your password or e-mail, head to the <b>"Personal info"</b> tab in the settings.
    From there you can input your new password or email adress and you will receive a code on your email. Input the code and your info gets changed.
</p>