<style>
    #playing-match-mobile, #playing-match {
        background-color: var(--background-white);
        color: var(--primary-black);
        font-weight: 600;
    }
</style>
<h1>Playing a match</h1>
<p>In order to play a game of tic tac toe, head to the main page and click <b>"Random opponent"</b>. Here you will be battling a random opponent.</p>
<img src="./static/img/tutorial/random_opponent.gif" alt="Gif of pressing random opponent button">
<p>You can cancel the matchmaking by pressing the <b>"Cancel matchmaking"</b> button.</p>