<style>
    #welcome-mobile, #welcome {
        background-color: var(--background-white);
        color: var(--primary-black);
        font-weight: 600;
    }
</style>
<h1>Welcome to Tic Tac Toe!</h1>
<p>
    Tic Tac Toe Multiplayer, also known as mult-tictactoe, is a multiplayer tic tac toe website utilizing the Daphne WebSocket for
    real-time gameplay, as well as the Python Django framework for the backend.
</p>
<br>
<p>
    Tic Tac Toe multiplayer is open source and is available on <a href="https://github.com/jahaa023/mult-tictactoe" target="_blank">GitHub.</a>
</p>