<style>
    #add_friends, #add_friends_mobile {
        background-color: var(--background-white);
        color: var(--primary-black);
        font-weight: 600;
    }
</style>
</style>
<style>
    {{add_friends_css | safe}}
</style>
<h1 class="friends-headline">Add friends</h1>
<p class="add-friends-p">Search for a users nickname or username. Yourself, users you have sent requests to and your friends will not show up in the search.</p>
<i class="add-friends-p">Your username: {{user.username}}</i><br>
<input class="add-friends-input" name="query" id="add-friends-input" type="text" placeholder="Nickname or username">
<div class="add-friends-result" id="add-friends-result">
    <p style="margin: 0;">Begin searching to find friends!</p>
</div>