/* Stylesheet for account recovery page */

.account-recovery-container {
    width: 40%;
    height: fit-content;
    border-radius: 12px;
    background-color: rgb(230, 230, 230);
    border: solid #21212160 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 40px;
    font-family: "Roboto", serif;
}

.account-recovery-container * {
    margin: 0;
    padding: 0;
}

form input {
    width: 60%;
    height: 30px;
    border: solid var(--primary-black) 1px;
    border-radius: 5px;
    text-indent: 5px;
    font-weight: 400;
    font-size: 1.2rem;
}

.account-recovery-container h1 {
    margin-bottom: 10px;
}

.account-recovery-container p {
    margin-bottom: 10px;
}

.account-recovery-form-button-container {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.account-recovery-form-button-container button {
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    height: 50px;
    font-family: "Roboto", serif;
    border-radius: 5px;
    border: solid 2px var(--primary-red);
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--primary-red);
    background-color: var(--background-white);
}

.account-recovery-form-button-container button:hover {
    color: var(--background-white);
    background-color: var(--primary-red);
    font-weight: 600;
}

#cancel-button {
    border: solid 2px var(--cancel-grey);
    color: var(--cancel-grey);
}

#cancel-button:hover {
    color: var(--background-white);
    background-color: var(--cancel-grey);
}

#error-warning {
    color: var(--primary-red);
    display: none;
    position: relative;
    margin-bottom: 10px;
}

.reset-password-button {
    width: 100%;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.350);
    cursor: pointer;
    text-indent: 10px;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.reset-password-button:hover {
    text-decoration: underline;
}

.reset-password-button img {
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 1/1;
}

#reset-password-form {
    display: none;
    margin-bottom: 5px;
}

.reset-password-form-button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    height: 50px;
    font-family: "Roboto", serif;
    border-radius: 5px;
    border: solid 2px var(--primary-red);
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--primary-red);
    background-color: var(--background-white);
}

.reset-password-form-button:hover {
    color: var(--background-white);
    background-color: var(--primary-red);
    font-weight: 600;
}

.password-wrapper {
    width: calc(60% + 3px);
    height: 30px;
    border: solid var(--primary-black) 1px;
    border-radius: 5px;
    text-indent: 5px;
    font-weight: 400;
    font-size: 1.2rem;
    position: relative;
    margin-bottom: 5px;
}

.password-wrapper input {
    width: calc(100% - 35px);
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    padding-right: 35px;
}

.password-wrapper button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(/static/img/icons/eye-password-hide.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 0;
    border-left: 1px solid var(--primary-black);
}

.password-wrapper button:hover {
    background-color: transparent;
}

@media screen and (max-width: 1065px){
    .account-recovery-container {
        width: 80%;
        padding: 15px;
    }

    .password-wrapper {
        width: 100%;
    }

    form input {
        width: 100%;
    }
}