/* Stylesheet for add friends page */

.add-friends-input {
    width: calc(60% - 10px);
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    border: solid 1px black;
}

.add-friends-p {
    width: calc(100% - 50px);
}

.add-friends-result {
    margin-top: 10px;
    width: calc(60% - 20px);
    padding: 10px;
    height: 300px;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid 1px black;
    background-color: white;
    border-radius: 5px;
}

.friend-result-row {
    width: 100%;
    height: 60px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.304);
    display: flex;
    align-items: center;
    position: relative;
}

.friend-row-send-button {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    background-color: white;
    border: none;
    background-image: url(/static/img/icons/add-friend-black.svg);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.5;
}

.friend-row-send-button:hover{
    opacity: 1;
}

.friend-result-profilepic {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-left: 10px;
    cursor: pointer;
    border: solid 1px grey;
}

.friend-result-profilepic:hover {
    filter: brightness(0.5);
}

.friend-result-nickname {
    max-width: calc(100% - 100px);
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    font-weight: 600;
    margin-left: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}

.friend-result-nickname:hover {
    text-decoration: underline;
}

#add-friends-input {
    margin-top: 15px;
}

@media screen and (max-width: 1300px) {
    .add-friends-input {
        width: calc(100% - 30px);
    }

    .add-friends-result {
        width: calc(100% - 40px);
    }
}