/* Stylesheet for modal for deleting account */

.delete-account-container {
    padding: 20px;
    width: fit-content;
    height: fit-content;
    background-color: var(--background-white);
    border-radius: 15px;
    border: 2px solid #ABABAB;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.delete-account-container h1 {
    font-family: "Roboto", serif;
    color: var(--primary-black);
    margin: 0;
    margin-bottom: 10px;
    max-width: 300px;
}

.delete-account-container p {
    margin: 0;
}

.delete-account-container ul {
    margin: 0;
    margin-top: 10px;
}

.delete-account-container li {
    font-family: "Roboto", serif;
    color: var(--primary-black);
    margin: 0;
}

.delete-account-button {
    padding: 10px;
    max-width: 150px;
    border-radius: 10px;
    border: solid var(--warning-red) 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Roboto", serif;
    background-color: var(--background-white);
    color: var(--warning-red);
    font-weight: 500;
    font-size: 1rem;
}

.delete-account-button:hover {
    background-color: var(--warning-red);
    color: var(--background-white);
}

.delete-account-cancel {
    padding: 10px;
    max-width: 150px;
    border-radius: 10px;
    border: solid var(--cancel-grey) 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Roboto", serif;
    background-color: var(--background-white);
    color: var(--cancel-grey);
    font-weight: 500;
    font-size: 1rem;
}

.delete-account-cancel:hover {
    background-color: var(--cancel-grey);
    color: var(--background-white);
}

.delete-account-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

@media screen and (max-width: 450px) {
    .profilepic-upload-container {
        padding: 10px;
        width: 310px;
    }
}