/* CSS for index.html */

.login-center-rectangle {
    width: 60%;
    height: 350px;
    border-radius: 12px;
    background-color: rgb(230, 230, 230);
    border: solid #21212160 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.login-center-rectangle-logo {
    width: 35%;
    height: 100%;
    background-image: url(/static/img/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.login-center-rectangle-form-container {
    width: calc(65% - 15px);
    height: calc(100% - 40px);
    margin-left: 15px;
    position: relative;
}

.register-link {
    font-family: "Roboto", serif;
    margin: 0;
    color: var(--primary-black);
    font-weight: 600;
}

.login-center-rectangle-form-container a {
    color: var(--primary-black);
}

.login-center-rectangle-form-container a:hover {
    color: var(--primary-red);
}

form {
    width: 100%;
    height: 80%;
}

form * {
    margin: 0;
    font-family: "Roboto", serif;
    color: var(--primary-black);
}

.login-form-headline {
    margin-bottom: 15px;
    font-size: 2.5rem;
}

.login-text-input {
    width: 60%;
    height: 30px;
    border: solid var(--primary-black) 1px;
    border-radius: 5px;
    text-indent: 5px;
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

form button {
    width: 120px;
    height: 50px;
    border: solid 4px var(--primary-red);
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--primary-red);
}

form button:hover {
    color: rgb(230, 230, 230);
    background-color: var(--primary-red);
}

.login-center-rectangle-divider {
    background-color: #21212160;
    border-radius: 2px;
    width: 2px;
    height: calc(100% - 40px);
}

#login-form-error-notif {
    color: var(--primary-red);
    display: none;
    position: relative;
    margin-bottom: 10px;
}

.account-recovery-link {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: "Roboto", serif;
    font-size: 13px;
}

.password-wrapper {
    width: calc(60% + 3px);
    height: 30px;
    border: solid var(--primary-black) 1px;
    border-radius: 5px;
    text-indent: 5px;
    font-weight: 400;
    font-size: 1.2rem;
    position: relative;
}

.password-wrapper input {
    width: calc(100% - 35px);
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    padding-right: 35px;
}

.password-wrapper button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(/static/img/icons/eye-password-hide.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 0;
    border-left: 1px solid var(--primary-black);
}

.password-wrapper button:hover {
    background-color: transparent;
}

.keep-logged-in {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

@media screen and (max-width: 1170px) {
    .login-center-rectangle {
        height: fit-content;
        max-height: 80vh;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 80%;
        flex-direction: column;
    }

    .login-center-rectangle-logo {
        width: 100%;
        height: 170px;
        min-height: 170px;
        margin-top: 15px;
        margin-bottom: 15px;
        background-size: contain;
    }

    .login-center-rectangle-form-container {
        width: calc(100% - 50px);
        height: calc(65% - 30px);
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .login-center-rectangle-divider {
        width: calc(100% - 50px);
        height: 2px;
        min-height: 2px;
    }

    .login-text-input {
        width: 85%;
    }

    .password-wrapper {
        width: calc(85% + 3px);
    }

    .register-link {
        margin-bottom: 15px;
    }
}