/* Stylesheet for the main page */

#mainbody {
    background-color: var(--primary-black);
}

header {
    height: 300px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -40px 30px -18px inset;
    display: flex;
    align-items: center;
    background-color: var(--background-white);
}

.header-play-container {
    height: 300px;
    width: 90%;
    margin-left: 10%;
    position: relative;
    display: flex;
    align-items: center;
}

.header-play-logo-container {
    height: calc(300px - 40px);
    width: calc(300px - 40px);
    border-radius: 20px;
    border: solid #21212160 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    background-color: var(--background-white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    z-index: 2;
}

.header-play-container img {
    height: 80%;
    width: 80%;
}

.header-play-button-container {
    margin-left: 290px;
    width: calc(100% - 300px);
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-play-button {
    height: 90px;
    width: 400px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid #21212160 2px;
    background-color: var(--background-white);
    display: flex;
    align-items: center;
    color: var(--primary-black);
}

.header-play-button:hover {
    background-color: var(--primary-red);
    color: white;
}

.header-play-button:hover > img {
    filter: invert(100%);
}

.header-play-button img {
    height: 60px;
    width: 60px;
    margin-left: 15px;
    margin-right: 10px;
}

.header-play-button p {
    font-family: "Roboto", serif;
    margin: 0;
    font-weight: 600;
    font-size: 2rem;
}

.content {
    width: calc(100% - 60px);
    padding-left: 30px;
    padding-right: 30px;
    height: 400px;
    background-color: var(--primary-black);
    display: flex;
    align-items: center;
    font-family: "Roboto", serif;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
}

.content-divider {
    width: 2px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

.user-section {
    height: 100%;
    width: 30%;
}

.user-section-profile {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-section-profile h1 {
    color: var(--background-white);
    margin: 0;
    font-weight: 600;
    font-size: 2rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.user-section a:hover {
    filter: brightness(0.5);
}

.user-section-profilepic {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}

.user-section-stats-container {
    width: 100%;
    margin-top: 10px;
    height: calc(100% - 60px);
}

.user-section-stats-headline {
    color: rgba(255, 255, 255, 0.500);
    letter-spacing: 3px;
    font-weight: 500;
}

.user-section-stats-container p {
    color: var(--background-white);
}

.user-section-stats-divider {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.500);
}

.log-out-link {
    font-size: 1rem;
    font-weight: 800;
    color: var(--warning-red);
    font-family: "Roboto", serif;
    text-decoration: none;
}

.log-out-link:hover {
    text-decoration: underline;
}

.navigate-section {
    height: 100%;
    width: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navigate-section-button-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.navigate-section-button-container div {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.navigate-section-button-container div button {
    cursor: pointer;
    background-color: var(--primary-black);
    color: var(--background-white);
    font-family: "Roboto", serif;
    border: 5px solid var(--background-white);
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    width: 50%;
    height: 70%;
}

.navigate-section-button-container button:hover {
    background-color: var(--background-white);
    color: var(--primary-black);
}

.navigate-section h1{
    margin: 0;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-white);
    font-size: 3rem;
}

.online-section {
    height: 100%;
    width: calc(30% - 10px);
    padding-left: 10px;
}

.online-section h1{
    margin: 0;
    height: 20%;
    display: flex;
    align-items: center;
    color: var(--background-white);
    font-size: 2rem;
}

.online-friends-container {
    width: calc(100% - 4px);
    height: calc(73% - 4px);
    background-color: var(--background-white);
    border-radius: 15px;
    border: solid #21212160 2px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.friends-list-link {
    position: relative;
    top: 10px;
    color: var(--background-white);
}

.online-friends-row {
    width: 100%;
    height: 50px;
    border-bottom: solid #21212160 2px;
    display: flex;
    align-items: center;
    position: relative;
}

.online-friends-row-profilepic {
    width: 30px;
    height: 30px;
    background-color: teal;
    border-radius: 32px;
    margin-right: 5px;
    margin-left: 10px;
}

.online-friends-row-nickname {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-black);
    max-width: calc(100% - 150px);
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.online-friends-row-profile {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.online-friends-row-profile:hover {
    text-decoration: underline;
}

.online-friends-row-profile:hover > .online-friends-row-profilepic {
    filter: brightness(50%);
}

.online-friends-row-button {
    width: 75px;
    height: 30px;
    position: absolute;
    right: 0;
    margin-right: 15px;
    cursor: pointer;
    font-family: "Roboto", serif;
    color: var(--primary-black);
    border: none;
    border-radius: 5px;
    border: solid 1px var(--primary-black);
    font-size: 0.9rem;
    font-weight: 500;
}

.online-friends-row-button:hover {
    background-color: var(--primary-black);
    color: var(--background-white);
}

.mobile-dropdown-button-container {
    display: none;
}

.mobile-dropdown-background {
    display: none;
}

@media screen and (max-width: 1290px) {
    header {
        display: flex;
        justify-content: center;
    }

    .header-play-container {
        width: fit-content;
        justify-content: center;
        display: flex;
        margin-left: 0;
    }

    .navigate-section {
        display: none;
    }

    .content-divider {
        display: none;
    }

    .content {
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        height: fit-content;
        gap: 15px;
    }

    .content-divider-mobile {
        display: block;
        width: 100%;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 2px;
    }

    .online-friends-container {
        height: 78%;
    }

    .friends-list-link {
        display: none;
    }

    .user-section {
        width: 100%;
        height: 400px;
    }

    .online-section {
        width: 100%;
        height: 400px;
        padding-left: 0;
    }

    .mobile-dropdown-button-container {
        position: fixed;
        top: 0;
        left: 0;
        margin: 15px;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: var(--background-white);
        border: solid #21212160 2px;
        z-index: 997;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-dropdown-button-container button {
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        background-image: url(static/img/icons/dropdown.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mobile-dropdown-background {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 998;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
    }

    .mobile-dropdown-container {
        width: 0px;
        padding: 10px;
        height: calc(100vh - 20px);
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        background-color: var(--primary-black);
    }

    .mobile-dropdown-container h1 {
        margin: 0;
        padding: 0;
        font-family: "Roboto", serif;
        color: var(--background-white);
    }

    .mobile-dropdown-exit {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        margin: 10px;
        background-color: var(--primary-black);
        border: none;
        background-image: url(static/img/icons/x.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
        cursor: pointer;
    }

    .mobile-dropdown-divider {
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.5);
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .mobile-dropdown-links-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .mobile-dropdown-links-container a{
        font-size: 1.7rem;
        color: var(--background-white);
        text-decoration: none;
        font-family: "Roboto", serif;
        text-wrap: nowrap;
    }

    .mobile-dropdown-links-container a:hover {
        text-decoration: underline;
    }

    .mobile-dropdown-logout {
        font-size: 1.7rem;
        color: var(--warning-red);
        text-decoration: none;
        font-family: "Roboto", serif;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 15px;
        text-wrap: nowrap;
    }

    .mobile-dropdown-logout:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 900px) {
    header {
        height: 500px;
        justify-content: center;
        align-items: center;
    }

    .header-play-container {
        flex-direction: column;
        height: 100%;
    }

    .header-play-logo-container {
        position: relative;
    }

    .header-play-button-container {
        margin-left: 0;
        width: 100%;
        margin-top: 15px;
    }

    .header-play-button {
        max-width: 305px;
        border-radius: 15px;
    }

    .header-play-button p {
        font-size: 1.5rem;
    }

    .header-play-button img {
        width: 40px;
        height: 40px;
    }
}