/* Stylesheet for your friends tab in friends page */

.your-friends-divider {
    width: calc(100% - 20px);
    height: 2px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    margin-bottom: 5px;
}

.your-friends-section-headline {
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
    font-weight: 500;
}

.friend-row {
    width: calc(100% - 20px);
    display: flex;
    background-color: var(--background-white);
    align-items: center;
    height: fit-content;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
}

.friend-row:hover {
    background-color: rgba(0, 0, 0, 0.205);
}

.friend-row:hover > button {
    display: block;
}

.friend-row-more-button {
    width: 20px;
    height: 25px;
    position: absolute;
    right: 0;
    margin-right: 5px;
    cursor: pointer;
    display: none;
    border: none;
    background-color: transparent;
    background-image: url(static/img/icons/dots-3.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.friend-row-more-button:hover {
    opacity: 1;
}

.friend-row-profilepic {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: solid 1px var(--cancel-grey);
    margin-left: 5px;
}

.friend-row-profilepic:hover {
    filter: brightness(0.5);
}

.friend-row-divider {
    width: calc(100% - 20px);
    height: 2px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    margin-bottom: 5px;
}

.friend-row-nickname {
    font-weight: 600;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    margin: 0;
    margin-left: 10px;
    cursor: pointer;
}

.friend-row-nickname:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1300px) {
    .friend-row-more-button {
        display: inline;
    }
}