{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe - Recover Account</title>
    <link href="/static/img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        {{account_recovery_css | safe}}
    </style>
    <style>
        {{universal_css | safe}}
    </style>
</head>
<body>
    <div class="account-recovery-container">
        <h1>Recover Account</h1>
        <p id="error-warning"></p>
        <p>An e-mail with a code has been sent to <b>{{request.session.temp_recovery_email}}</b>. Check your spam folder if you cannot find it. The code expires in 15 minutes.</p>
        <form id="code-form" action="/account_recovery_code" method="post">
            {% csrf_token %}
            {{form}}
            <div class="account-recovery-form-button-container">
                <button title="Next" id="next-button" type="submit">Next</button>
                <button title="Cancel" type="button" id="cancel-button">Cancel</button>
            </div>
        </form>
    </div>
</body>
<script>
    {{universal_js | safe}}
</script>
<script>
    {{account_recovery_js | safe}}
</script>
</html>
