<style>
    #edit-profile {
        background-color: var(--background-white);
        color: var(--primary-black);
        font-weight: 600;
    }
</style>
<style>
    {{edit_profile_css | safe}}
</style>
<h1 class="settings-headline">Edit your profile</h1>
<i>Click the elements to change them</i>
<form action="/editprofile_savechanges" id="edit-profile-savechanges" method="post">
    <div class="edit-profile-container">
        {% csrf_token %}
        <div class="edit-profile-banner" style="background-color: {{user.banner_color}};">
            <div class="edit-profile-profilepic-container">
                <div class="edit-profile-profilepic" title="Change profile picture" style="background-image: url(static/img/profile_pictures/{{user.profile_picture}});">
                    <div class="profilepic-hover" id="profilepic"></div>
                </div>
            </div>
        </div>
        <div class="edit-profile-name-container">
            <input required type="text" name="nickname" maxlength="30" minlength="5" class="edit-profile-nickname" id="id_nickname" value="{{user.nickname}}">
            <i id="edit-profile-username">{{user.username}}</i>
        </div>
        <textarea name="description" id="id_description" class="edit-profile-description">{{user.description}}</textarea>
        <div class="description-charcount-container">
            <i id="description-charcount">4/500</i>
        </div>
    </div>
    <button type="submit" class="save-changes-button" title="Save changes">Save changes</button>
</form>
<script>
    
</script>